<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <!-- <br><br> -->
            <h2>Edit Your Listing</h2>
            <!-- <hr> -->
            <br>

            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title : </label>
                    <input value="<%= listing.title %>" name="listing[title]" type="text" class="form-control" required>

                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Title is Compulsory!</div>

                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description : </label>
                    <textarea name="listing[description]" class="form-control" required>
                            <%=listing.description %></textarea>

                    <div class="valid-feedback">Good description</div>
                    <div class="invalid-feedback">Please enter a short description!</div>

                </div>

                <div class="mb-3">
                    <label for="Category" class="form-label">Category : </label>
                    <select class="form-select" name="listing[category]" required>
                        <option><%= listing.category %></option>
                        <option disabled>Choose Your Listing Category</option>
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Top Cities">Top Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Domes">Domes</option>
                        <option value="Boats">Boats</option>
                    </select>

                    <div class="valid-feedback">
                        Good Category
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Category of your listing!
                    </div>

                </div>

                <div class="mb-3">
                    Original Listing Image :
                    <br>
                    <img src="<%= originalImageUrl %>" alt="listing[image]" />
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image : </label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <!-- <div class="mb-3"> -->
                        <label for="price" class="form-label">Price : </label>
                        <input value="<%= listing.price %>" name="listing[price]" type="number" class="form-control"
                            required>
                        <!-- </div> -->

                        <div class="valid-feedback">Good Price!</div>
                        <div class="invalid-feedback">Price should be valid!</div>

                    </div>

                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country : </label>
                        <input value="<%= listing.country %>" name="listing[country]" type="text" class="form-control"
                            required>

                        <div class="valid-feedback">Welldone!</div>
                        <div class="invalid-feedback">Country name should be valid!</div>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location : </label>
                    <input value="<%= listing.location %>" name="listing[location]" type="text" class="form-control"
                        required>

                    <div class="valid-feedback">Great!</div>
                    <div class="invalid-feedback">Location should be valid!</div>

                </div>

                <button class="btn btn-dark edt-btn mt-3">Edit</button>

            </form>
            <br>

            <form action="/listings/<%= listing._id %>">
                <button class="btn btn-dark mt-3">Cancle</button>
            </form>

            <br><br>

        </div>
    </div>